.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #777;
    opacity: 0.4;
}

.modal-window {
    border: 1px solid #777;
    border-radius: 5px;
    background: white;
    position: fixed;
}

.modal-window h2 {
    color: white;
    background: #555;
    border-radius: 4px 4px 0 0;
    font-size: 1.1em;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-window h2 span {
    float: right;
    background: #aaa;
    display: block;
    width: 15px;
    height: 15px;
    margin-top: 3px;
    border: 1px solid #555;
    border-radius: 3px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

.modal-window > div {
    padding: 7px;
}

.modal-window > div:empty {
    padding: 0;
}

.progressbar {
    width: 150px;
    border: 1px solid #555;
    border-radius: 4px;
    height: 24px;
    padding: 2px;
    background: white;
}

.progressbar > div {
    height: 22px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.progressbar > div > div {
    height: 100%;
    border-radius: 3px;
    background: #ccc;
}

form fieldset {
    border: 1px solid silver;
    border-top-width: 2px;
    border-left-width: 2px;
    padding: 4px;
}

form legend {
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

form th {
    text-align: right;
}

form input {
    border: 1px solid silver;
    border-radius: 4px;
    padding: 3px;
}

form input[type="submit"] {
    font-weight: bold;
    margin-left: 10px;
}

.center {
    text-align: center;
}
